repos:
- hooks:
  - id: commitizen
  - id: commitizen-branch
    stages:
    - pre-push
  repo: https://github.com/commitizen-tools/commitizen
  rev: cc981fcb065527b6de0033b0cbf0432e69781901  # frozen: v4.9.1
minimum_pre_commit_version: 2.18.0
default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg
