name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    name: Check source and configs (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8 # 0.15.0
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per run.
          disk-cache: ${{ github.workflow }}-${{ github.job }}-${{ runner.os }}
          # Share repository cache between workflows.
          repository-cache: true
          bazelrc: |
            common --lockfile_mode=error

      - name: Set up Go
        id: setup-go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true

      - run: |
          set -e
          bazel run @rules_go//go -- tool fix -go=go${{ steps.setup-go.outputs.go-version }} -force true .
          git diff --exit-code
          bazel run //:gazelle -- fix
          git diff --exit-code
          bazel run @rules_go//go -- run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest -test -fix .
          git diff --exit-code
          bazel mod deps
          git diff --exit-code
          bazel mod tidy
          git diff --exit-code
          bazel run @rules_go//go -- mod tidy
          git diff --exit-code
        shell: bash

  test:
    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8 # 0.15.0
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per run.
          disk-cache: ${{ github.workflow }}-${{ github.job }}-${{ runner.os }}
          # Share repository cache between workflows.
          repository-cache: true
          bazelrc: |
            common --lockfile_mode=error

      - name: Run tests (${{ runner.os }})
        run: |
          set -e
          if [ "${{ runner.os }}" = "Windows" ]; then
            bazel test //...
          else
            bazel coverage --combined_report=lcov //...
            cp bazel-out/_coverage/_coverage_report.dat coverage.txt
          fi
        shell: bash

      - name: Upload coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        if: runner.os != 'Windows'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt
          fail_ci_if_error: true
          verbose: true

  lint:
    name: Lint (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8 # 0.15.0
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per run.
          disk-cache: ${{ github.workflow }}-${{ github.job }}-${{ runner.os }}
          # Share repository cache between workflows.
          repository-cache: true
          bazelrc: |
            common --lockfile_mode=error

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true

      - name: Print Go version
        run: go version
        shell: bash

      - name: Run linter
        run: bazel run //:golangci-lint -- run
        shell: bash

      - name: Run buildifier
        if: runner.os != 'Windows'
        run: |
          bazel run //:buildifier.check
        shell: bash
